/* HTML principal */
body {
    margin: 0;
    padding: 0;
}

nav {
    background-color: black;
    display: flex;
    justify-content: center; /* Centra los enlaces horizontalmente */
    align-items: center;
    height: 60px;
}

nav a {
    font-size:larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: #e1e1e1;
    padding: 20px 15px; /* Ajusta el padding para acercar los enlaces */
    margin: 0 10px; /* Ajusta el margen para separar los enlaces */
    border: 1px solid transparent;
    border-radius: 5px;
    transition: all 0.4s ease;
}

nav a:hover {
    color: rgb(255, 255, 255); /* Cambia el color al pasar el ratón por encima */
    font-size: x-large; /* Hace la palabra más grande */
    
}

header {
    background-color: transparent;
    padding: 20px;
}

footer {
    font-size:larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f7b02c;
    color: #ecf0f1;
    text-align: center;
    bottom: 0;
    width: 100%;
    padding: 0;
}

/* HTML menu - logo - boton */

.menuinicial {
    position: relative;
    overflow: hidden; /* Oculta cualquier desbordamiento de contenido */
}

.inicio {
    position: relative;
    color: #ecf0f1;
    text-align: center;
    max-width: 100%;
    height: auto;
    padding: 50px;
}

.video-fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.inicio h1 {
    color: #ecf0f1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 10px; /* Ajusta el espacio debajo del título */
}

.inicio img {
    width: 100%; /* La imagen se ajustará al ancho de su contenedor */
    max-width: 350px; /* Establece un límite máximo para el ancho de la imagen */
    height: auto;
    margin-top: 1%; /* Ajusta el margen superior en porcentaje */
    
}
.botton{
    margin-top: 100px; /* Ajusta la distancia desde la parte superior */
    margin-bottom: 100px;
    margin-left: auto; /* Centra horizontalmente el botón */
    margin-right: auto;
}

.botton a{
    font-size:x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: #ffffff;
    padding: 10px 15px; /* Ajusta el padding para acercar los enlaces */
    margin: 30px 10px; /* Ajusta el margen para separar los enlaces */
    border-radius: 8px;
    background-color: #f7b02c;
    transition: all 0.4s ease;
    
}

.botton a:hover{
    background-color: rgb(255, 255, 255);
    color: #000000;

}

/* Esto trabaja con el html about me*/

.cuerpo {
    height: 100%; /* Ajusta la altura del fondo según tus necesidades */
    width: 100%; /* Anchura del 100% de la pantalla */
}

.content {
    flex: 1;
    text-align: center;
    max-width: 700px; /* Ajusta el ancho máximo según sea necesario */
    margin: 0 auto; /* Mantiene el contenido centrado horizontalmente */
}

.about {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    color: #0a0a0a;
    display: flex;
    flex-direction: row; /* Por defecto, flex-direction es row, pero se añade para claridad */
    align-items: center; /* Alinea verticalmente en el centro */
}

.imagesplace img {
    width: 100%; /* Asegura que la imagen ocupe el 100% del contenedor */
    max-width: 100vh;

}

.about h2 {
    margin-bottom: 50px; /* Espacio adicional entre el h2 y el párrafo */
}

/* Estilo para los links */

.social {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    display: flex;
    background-color: #f2f2f2;
    
}

.links {
    margin-top: 5%; /* Espacio entre el texto y los enlaces sociales */
    
}

.links a {
    display: inline-block;
    margin-bottom: 20px; /* Espaciado entre los botones */
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #56a5fa; /* Color de fondo del botón (puedes cambiarlo) */
    border-radius: 8px; /* Esquinas redondeadas */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.links a:hover {
    background-color: rgba(227, 227, 227, 0.8);
    color: #000000; /* Cambia el color de fondo al pasar el mouse (puedes cambiarlo) */
}


/* Esto trabaja con el html de my space */

.main-space {
    text-align: center; /* Centra el contenido horizontalmente */
    
}

.main-space h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    margin-top: 80px; /* Espacio entre el título y el párrafo */
    
}

.main-space h3 {
    margin-top: 40px; /* Espacio entre el título y el párrafo */
    font-size: x-large;
}

ul {
    
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0; /* Elimina el relleno de la lista */
    text-align: center; /* Centra los elementos horizontalmente */
}

ul li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    display: inline-block; /* Hace que los elementos li aparezcan en línea */
    text-align: center; /* Alinea el texto del elemento a la izquierda */
    margin: 0 10px; /* Espacio entre los elementos */
    vertical-align: top; /* Alinea los elementos en la parte superior */
}

ul li img {
    border-radius: 50%;
    width: 250px; /* Ancho de las imágenes */
    height: auto; /* Altura automática para mantener la proporción */
    display: block; /* Permite aplicar márgenes y centrado vertical */
    margin: 0 auto; /* Centra horizontalmente las imágenes */
    border: 7px solid #f7ad23d6; /* Agrega un borde de 2px sólido de color gris */
}


ul li h3 {
    margin-top: 10px; /* Espacio entre el texto y la imagen */
}



/* Esto trabaja con el html de galeria */

    /* Estilos para el contenedor de la galería */
.gallery-container {
    width: 70%; /* Ancho del contenedor de la galería */
    margin: 0 auto; /* Centrar el contenedor horizontalmente */
    background-color: #f2f2f2; /* Color de fondo gris para el contenedor */
    padding: 45px; /* Espaciado interno del contenedor */
}

/* Estilos para el título de la galería */

.galeria p{
    padding-top: 90px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    text-align: center; /* Centrar el texto del título */
}
/* Estilos para la galería de imágenes */
.gallery {
    display: grid; /* Utilizar el sistema de grid */
    grid-template-columns: repeat(2, 1fr); /* Organizar en 2 columnas */
    gap: 40px; /* Espacio entre las imágenes */
}

/* Estilos para las imágenes de la galería */
.gallery img {
    max-width: 100%; /* Ajustar el ancho máximo de las imágenes al 100% */
    max-height: 500px; /* Establecer una altura máxima para las imágenes */
    border-radius: 20px; /* Bordes redondeados */
    display: block; /* Permite aplicar márgenes y centrado */
}




/* Esto trabaja con el html de la info al final de la pagina */

.info {
    display: grid;
    font-size:large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    padding-top: 60px;
    text-align: center; /* Centra el texto horizontalmente */
}

.info h2 {
    font-size:x-large;
    margin-bottom: 0px; /* Ajusta la distancia entre el h2 y el párrafo */
}

.hours {
    background-image: url('/static/images/lugardos.jpg'); /* Reemplaza con la ruta correcta de tu imagen de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir completamente el contenedor */
    background-position: center; /* Centra la imagen dentro del contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    flex: 1;
    padding-right: 20px;
    display: flex;
    flex-direction: column; /* Cambia la dirección del contenido a columna */
    align-items: center; /* Centra horizontalmente el contenido */
    text-align: center; /* Centra el texto horizontalmente */
    font-size:x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 40px;
    color: #f2f2f2;
}

.hours a{
    display: inline-block;
    margin-bottom: 20px; /* Espaciado entre los botones */
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #56a5fa; /* Color de fondo del botón (puedes cambiarlo) */
    border-radius: 8px; /* Esquinas redondeadas */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.hours a:hover {
    background-color: rgba(227, 227, 227, 0.8);
    color: #000000; /* Cambia el color de fondo al pasar el mouse (puedes cambiarlo) */
}

/* Esto trabaja con el html social- final de la pagina */

.social {
    background-color: #ffffff;
    display: grid;
    font-size:x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px; /* Espaciado interno */
    max-width: 600px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centrar horizontalmente */
    text-align: center; /* Centrar el contenido */
    
}

.social p {
    font-size:x-large;
    padding-bottom: 50px;
   
}

.links {
    display: inline-block; /* Permite que los enlaces estén en línea */
    padding-top: 0px;
    
}

.links a {
    padding: 10px 20px;
    margin: 0 15px; /* Margen entre los enlaces */
    text-decoration: none; /* Quita el subrayado del enlace */
    color: #ffffff; /* Color del texto del enlace */
    font-size: x-large; /* Tamaño de fuente deseado */
}

.links a:hover {
    color: #555; /* Cambia el color del texto del enlace al pasar el mouse */
}

/* Esto trabaja con el html contacto- final de la pagina */

.contacto {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
    margin: 40px auto; /* Agregar margen en la parte inferior */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
    padding-top: 2px;
}

.contacto h2 {
    color: #333;
    font-size:large;
    margin-bottom: 30px;
}


.numero {
    color: #000000;
    padding: 10px;
    border-radius: 5px;
    font-size: xx-large;
    display: inline-block;
}