{% extends "./comidas.html" %}
{% load static %}

{% block body_content %}

<section class="platos">
    <h1>Sandwiches</h1>
    <ul class="platos-lista">
        {% for sandwiche in sandwiches %}
            <li class="plato-item">
                <article class="plato">
                    <h3>{{ sandwiche.nombre }}</h3>
                    <p class="plato-descripcion">{{ sandwiche.descripcion }} </p>
                    <p class="plato-precio">Precio: ${{ sandwiche.precio }}</p>
                </article>
            </li>
        {% endfor %}
    </ul>

    <h1>Hamburguesas</h1>
    <ul class="platos-lista">
        {% for hamburguesa in hamburguesas %}
            <li class="plato-item">
                <article class="plato">
                    <h3>{{ hamburguesa.nombre }}</h3>
                    <p class="plato-descripcion">{{ hamburguesa.descripcion }} </p>
                    <p class="plato-precio">Precio: ${{ hamburguesa.precio }}</p>
                </article>
            </li>
        {% endfor %}
    </ul>

    <h1>Tapeos</h1>
    <ul class="platos-lista">
        {% for tapeo in tapeos %}
            <li class="plato-item">
                <article class="plato">
                    <h3>{{ tapeo.nombre }}</h3>
                    <p class="plato-descripcion">{{ tapeo.descripcion }} </p>
                    <p class="plato-precio">Precio: ${{ tapeo.precio }}</p>
                </article>
            </li>
        {% endfor %}
    </ul>
</section>

{% endblock %}