{% extends "./comidas.html" %}
{% load static %}

{% block body_content %}

<section class="platos">
    <br>
    <h5 class="card-title">Desayuno | Merienda</h5>
    <br>
    <hr>
    <ul class="platos-lista">
        {% for desayuno in desayunos %}
            <div class="card">
                <h5 class="card-header">{{ desayuno.nombre }}</h5>
                <div class="card-body">
                <p class="card-text">{{ desayuno.descripcion }}</p>
                <p class="card-text"><strong>Precio: ${{ desayuno.precio }}</strong></p>
                </div>
            </div>
            <br>
        {% endfor %}
    </ul>
    <br>
    <h5 class="card-title">Brusqueta </h5>
    <hr>
    <ul class="platos-lista">
        {% for brusqueta in brusquetas %}
            <div class="card">
                <h5 class="card-header">{{ brusqueta.nombre }}</h5>
                <div class="card-body">
                <p class="card-text">{{ brusqueta.descripcion }}</p>
                <p class="card-text"><strong>Precio: ${{ brusqueta.precio }}</strong></p>
                </div>
            </div>
            <br>
        {% endfor %}
    </ul>
</section>

{% endblock %}