{% extends "./comidas.html" %}
{% load static %}

{% block body_content %}

<section class="platos">
    <h5 class="card-title">Ensaladas 🥗</h5>
    <br>
    <hr>
    <ul class="platos-lista">
        {% for ensalada in ensaladas %}
            <div class="card">
                <h5 class="card-header">{{ ensalada.nombre }}</h5>
                <div class="card-body">
                <p class="card-text">{{ ensalada.descripcion }}</p>
                <p class="card-text"><strong>Precio: ${{ ensalada.precio }}</strong></p>
                </div>
            </div>
            <br>
        {% endfor %}
    </ul>
</section>

{% endblock %}