{% extends "./comidas.html" %}
{% load static %}

{% block body_content %}

<section class="platos">
    <h5 class="card-title">Postres | Alfajores</h5>
    <br>
    <hr>
    <ul class="platos-lista">
        {% for postre in postres %}
            <div class="card">
                <h5 class="card-header">{{ postre.nombre }}</h5>
                <div class="card-body">
                <p class="card-text">{{ postre.descripcion }}</p>
                <p class="card-text"><strong>Precio: ${{ postre.precio }}</strong></p>
                </div>
            </div>
            <br>
        {% endfor %}
    </ul>
</section>

{% endblock %}