{% extends "./base.html" %}
{% load static %}

{% block content %}
<section class="menuinicial">
    <article class="inicio">
        <video autoplay muted loop class="video-fondo">
            <source src="/static/video/video2.mp4" type="video/mp4">
            Tu navegador no admite video HTML5.
        </video>
        <img src="/static/images/logo.png" alt="Logo DonJota">
        <h1>Todos los caminos conducen hacia nosotros</h1>
        <div class="botton">
            <a href="{% url 'almuerzo'%}">VER MENU</a>
        </div>
    </article>
</section>
    
<section id="nosotros" class="cuerpo">
    <article class="about">
        <div class="content">
            <h2>UN LUGAR DISTINTO</h2>
            <p><strong>Bienvenidos a Don JOTA</strong>. Donde ofrecemos una experiencia diferente. 
                Ya sea para un almuerzo o cena de negocios, celebrando una ocasión especial o buscando un ambiente 
                distinto para reuniones, nuestro menú ofrece algo para todos.</p>
        </div>
        <div class="imagesplace">
            <img src="{% static 'images/about.jpg' %}" alt="Foto de donjota">
        </div>
    </article>
</section>

<section class= "main-space">
    <h2>En DON JOTA te ofrecemos</h2>
    <ul>
        <li>
            <img src="{% static 'images/portada1.jpg' %}" alt="Foto">
            <div class="text">
                <h3>Vista</h3>
                <p>Contamos con un espacio exterior único y panorámico</p>
            </div>
        </li>
        <li>
            <img src="{% static 'images/portada2.jpg' %}" alt="Foto">
            <div class="text">
                <h3>Take away</h3>
                <p>También podés venir y llevarte tu café</p>
            </div>
        </li>
        <li>
            <img src="{% static 'images/portada3.jpg' %}" alt="Foto">
            <div class="text">
                <h3>Postre de Balcarce</h3>
                <p>Vení a probar nuestro postre de Balcarce o pedilo para llevar</p>
            </div>
        </li>
    </ul>     
</section>

<section class="galeria">
    <p>
        Capturamos cada instante. 
        Disfruta de nuestra galería, cada foto cuenta una historia única.
    </p>
    <article>
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'images/gallery/foto-1.jpg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/gallery/foto-2.jpg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/gallery/foto-3.jpg' %}" class="d-block w-100" alt="...">
            </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    </article>
</section>    
    
<section class="info">
    <h2>HORARIO DE ATENCION</h2>
    <p><strong>Estamos abiertos todos los días de la semana</strong></p>
    <article class="hours">
        <p>Lun. a Vie.: 8:00 - 20:00</p>
        <p>Sáb. y Dom.: 9:00 - 20:30</p>
        <p>📍Balcarce | Cruce de ruta 226 y 55</p>
        <a href="https://www.google.com/maps/@-37.8182711,-58.2211253,304m/data=!3m1!1e3?entry=ttu" target="_blank">
            VER UBICACION
        </a>
    </article>
</section> 

<section class="social">
    <!-- Contenido de la parte izquierda (imagen del mapa) -->
    <p>Si queres estar al dia con nuestros platos y servicios. Seguinos en:</p>
        <div class="links">
            <a href="https://www.facebook.com/people/Don-Jota/100076275163536/" target="_blank" title="Facebook">
                <i class="fa-brands fa-square-facebook"></i> facebook
            </a>
            <a href="https://www.instagram.com/donjotacafe/" target="_blank" title="Instagram">
                <i class="fa-brands fa-square-instagram"></i> instagram 
            </a>
        </div>
        <div class="contacto">
            <h2>Para más información o reseva contactanos:</h2>
            <div class="numero">
                <span>📞 02266 41-7401</span>
            </div>
        </div>  
</section>


{% endblock %}
