/* Esto trabaja con el html de botones navegador */
@media (max-width: 500px) {
   
        /* Estilos para el contenedor de opciones */
    .option-container {
        background-color: #e1e1e1;
        display: flex; /* Mostrar elementos en línea */
        justify-content: center; /* Centrar los elementos horizontalmente */
        margin-top: 30px; /* Margen superior */
        flex-wrap: wrap; /* Permite que los elementos se ajusten en varios renglones */
    }

    /* Estilos para cada opción */
    .option {
        margin: 10px; /* Margen entre las opciones */
    }

    /* Estilos para los enlaces */
    .option a {
        text-decoration: none; /* Quitar subrayado del enlace */
        padding: 10px 20px; /* Espaciado interno */
        border-radius: 10px; /* Bordes redondeados */
        background-color: #f7ad23d6;
        color: #000000; /* Color del texto */
        transition: background-color 0.4s ease, color 0.4s ease; /* Transición suave */
        display: inline-block; /* Permite que el enlace se ajuste al contenido */
    }

    /* Estilos para los enlaces al pasar el mouse */
    .option a:hover {
        background-color:  #ff9d00d6;; /* Cambia el color de fondo al pasar el mouse */
        color: #fbfbfb; /* Cambia el color del texto al pasar el mouse */
    }
    
    
    
    
    
    
    
    
    .platos {
        margin-top: 20px; /* Ajusta el margen superior según tus necesidades */
        text-align: center; /* Centra el contenido horizontalmente */
        margin-bottom: 50px; /* Ajusta el margen inferior */
    }
    
    .platos h2 {
        margin-top: 50px; /* Ajusta el margen superior del título "Ensaladas" */
        font-size: large; /* Tamaño del título ajustado */
    }
    
    /* Lista de platos */
    .platos-lista {
        list-style: none; /* Elimina los puntos de la lista */
        padding: 0; /* Elimina el relleno predeterminado de la lista */
        margin: 0 auto; /* Centra la lista horizontalmente */
        width: 90%; /* Ancho de la lista de platos ajustado */
    }
    
    /* Estilos para cada elemento de plato */
    .plato-item {
        margin-bottom: 30px; /* Ajusta el espacio entre los platos según tus necesidades */
        display: block; /* Hace que los elementos aparezcan en una sola columna */
    }
    
    /* Estilos para el contenedor de cada plato */
    .plato {
        background-color: #f2f2f2; /* Fondo gris claro */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra */
        border-radius: 20px;
        padding: 15px; /* Añade un espacio interno alrededor del contenido */
        margin-bottom: 25px; /* Ajusta el espacio entre los platos */
    }
    
    /* Estilos para el título del plato */
    .plato h3 {
        font-size: medium; /* Tamaño del título ajustado */
        margin-right: auto; /* Elimina el margen predeterminado del título del plato */
        margin-bottom: 5px; /* Añade espacio entre el nombre y la descripción */
        text-align: left; /* Alinea el texto a la izquierda */
    }
    
    /* Estilos para la descripción del plato */
    .plato-descripcion {
        font-size: medium; /* Tamaño de la descripción ajustado */
        margin-top: 5px; /* Añade espacio entre el nombre y la descripción */
        text-align: left; /* Alinea el texto a la izquierda */
    }
    
    /* Estilos para el precio del plato */
    .plato-precio {
        font-family: 'Trebuchet MS', sans-serif;
        font-size: medium; /* Tamaño del precio ajustado */
        margin-bottom: 1px; /* Ajusta el espacio entre la descripción y el precio */
        text-align: right; /* Alinea el texto a la derecha */
    }
    
    
    /* footer */
    footer {
        max-width: auto; /* Ancho máximo del contenido */
        background-color: #f7b02c; /* Color de fondo */
        color: #fff; /* Color del texto */
        padding: 10px 0; /* Espaciado interno arriba y abajo */
        text-align: center; /* Centrar el contenido horizontalmente */
    }
    
    .container {
        max-width: 100vb; /* Ancho máximo del contenido */
        margin: 0 auto; /* Centrar el contenido horizontalmente */
        padding: 0 15px; /* Espaciado interno a los lados */
    }
    
    /* Estilos para el texto del footer */
    footer p {
        margin: 0; /* Elimina el margen predeterminado */
        font-size: 16px; /* Tamaño de fuente */
    }
    
    /* Estilos para el texto en negrita */
    footer strong {
        font-weight: bold; /* Fuente en negrita */
    }
}       
   